<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>hiltonDublin</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>home</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>guest</servlet-name>
    <jsp-file>/guest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>guest</servlet-name>
    <url-pattern>/Guest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReservationServlet</servlet-name>
    <servlet-class>com.hiltondublin.servlets.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationServlet</servlet-name>
    <url-pattern>/Guest/Online-Reservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.hiltondublin.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.hiltondublin.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>employee</servlet-name>
    <jsp-file>/employee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>employee</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkout</servlet-name>
    <jsp-file>/checkout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkout</servlet-name>
    <url-pattern>/Employee/Checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkoutServlet</servlet-name>
    <servlet-class>com.hiltondublin.servlets.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkoutServlet</servlet-name>
    <url-pattern>/Employee/Checkout-room</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkoutServletVerified</servlet-name>
    <servlet-class>com.hiltondublin.servlets.CheckoutVerifiedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkoutServletVerified</servlet-name>
    <url-pattern>/Employee/Checkout-room-verified</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rating</servlet-name>
    <jsp-file>/rating.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>rating</servlet-name>
    <url-pattern>/Guest/Rating</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chargeProduct</servlet-name>
    <jsp-file>/chargeProduct.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chargeProduct</servlet-name>
    <url-pattern>/Employee/Charge-Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin</servlet-name>
    <jsp-file>/admin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyReservation</servlet-name>
    <jsp-file>/modifyReservation.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyReservation</servlet-name>
    <url-pattern>/Admin/Modify-Reservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyReservationsGetReservations</servlet-name>
    <servlet-class>com.hiltondublin.servlets.GetReservationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyReservationsGetReservations</servlet-name>
    <url-pattern>/Admin/Modify-Reservation-get-reservations</url-pattern>
  </servlet-mapping>
</web-app>