<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>hiltonDublin</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>home</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>guest</servlet-name>
    <jsp-file>/guest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>guest</servlet-name>
    <url-pattern>/Guest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>onlineReservation</servlet-name>
    <jsp-file>/onlinereservation.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>onlineReservation</servlet-name>
    <url-pattern>/Guest/Online-Reservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reservationServlet</servlet-name>
    <servlet-class>com.hiltondublin.servlets.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservationServlet</servlet-name>
    <url-pattern>/Guest/Online-Reservation-check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>onlineReservationEmployee</servlet-name>
    <jsp-file>/onlinereservation-employee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>onlineReservationEmployee</servlet-name>
    <url-pattern>/Employee/Reservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reservationServletEmployee</servlet-name>
    <servlet-class>com.hiltondublin.servlets.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservationServletEmployee</servlet-name>
    <url-pattern>/Employee/Reservation-check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>onlineReservationPayment</servlet-name>
    <jsp-file>/payment.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>onlineReservationPayment</servlet-name>
    <url-pattern>/Guest/Online-Reservation-payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>onlineReservationPaymentCheck</servlet-name>
    <servlet-class>com.hiltondublin.servlets.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>onlineReservationPaymentCheck</servlet-name>
    <url-pattern>/Guest/Online-Reservation-payment-check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.hiltondublin.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.hiltondublin.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>employee</servlet-name>
    <jsp-file>/employee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>employee</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkout</servlet-name>
    <jsp-file>/checkout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkout</servlet-name>
    <url-pattern>/Employee/Checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkoutServlet</servlet-name>
    <servlet-class>com.hiltondublin.servlets.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkoutServlet</servlet-name>
    <url-pattern>/Employee/Checkout-room</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkoutServletVerified</servlet-name>
    <servlet-class>com.hiltondublin.servlets.CheckoutVerifiedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkoutServletVerified</servlet-name>
    <url-pattern>/Employee/Checkout-room-verified</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>onlinecancellation</servlet-name>
    <jsp-file>/onlinecancellation.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>onlinecancellation</servlet-name>
    <url-pattern>/Guest/Cancellation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>onlinecancellation-employee</servlet-name>
    <jsp-file>/onlinecancellation-employee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>onlinecancellation-employee</servlet-name>
    <url-pattern>/Employee/Cancellation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rating</servlet-name>
    <jsp-file>/rating.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>rating</servlet-name>
    <url-pattern>/Guest/Rating</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chargeProduct</servlet-name>
    <jsp-file>/chargeProduct.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chargeProduct</servlet-name>
    <url-pattern>/Employee/Charge-Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin</servlet-name>
    <jsp-file>/admin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyReservation</servlet-name>
    <jsp-file>/modifyReservation.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyReservation</servlet-name>
    <url-pattern>/Admin/Modify-Reservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyReservationsGetReservations</servlet-name>
    <servlet-class>com.hiltondublin.servlets.GetReservationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyReservationsGetReservations</servlet-name>
    <url-pattern>/Admin/Modify-Reservation-get-reservations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyReservationsGetReservation</servlet-name>
    <servlet-class>com.hiltondublin.servlets.GetReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyReservationsGetReservation</servlet-name>
    <url-pattern>/Admin/Modify-Reservation-get-reservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyReservationsDetails</servlet-name>
    <servlet-class>com.hiltondublin.servlets.ModifyReservationDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyReservationsDetails</servlet-name>
    <url-pattern>/Admin/Modify-Reservation-details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyGuestDetails</servlet-name>
    <servlet-class>com.hiltondublin.servlets.ModifyGuestDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyGuestDetails</servlet-name>
    <url-pattern>/Admin/Modify-Guest-details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteRoomFromReservation</servlet-name>
    <servlet-class>com.hiltondublin.servlets.DeleteRoomFromReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteRoomFromReservation</servlet-name>
    <url-pattern>/Admin/Modify-Reservation-delete-room</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addRoomToReservation</servlet-name>
    <servlet-class>com.hiltondublin.servlets.AddRoomToReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRoomToReservation</servlet-name>
    <url-pattern>/Admin/Modify-Reservation-add-room</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteProductFromReservation</servlet-name>
    <servlet-class>com.hiltondublin.servlets.DeleteProductFromReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProductFromReservation</servlet-name>
    <url-pattern>/Admin/Modify-Reservation-delete-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addProductToReservation</servlet-name>
    <servlet-class>com.hiltondublin.servlets.AddProductToReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProductToReservation</servlet-name>
    <url-pattern>/Admin/Modify-Reservation-add-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyRoom</servlet-name>
    <jsp-file>/modifyRoom.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyRoom</servlet-name>
    <url-pattern>/Admin/Modify-Room</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyRoomSelectOption</servlet-name>
    <servlet-class>com.hiltondublin.servlets.ModifyRoomSelectOptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyRoomSelectOption</servlet-name>
    <url-pattern>/Admin/Modify-Room-select-option</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyRoomGetRooms</servlet-name>
    <servlet-class>com.hiltondublin.servlets.ModifyRoomGetRoomsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyRoomGetRooms</servlet-name>
    <url-pattern>/Admin/Modify-Room-get-rooms</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyRoomGetRoom</servlet-name>
    <servlet-class>com.hiltondublin.servlets.ModifyRoomGetRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyRoomGetRoom</servlet-name>
    <url-pattern>/Admin/Modify-Room-get-room</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyRoomDetails</servlet-name>
    <servlet-class>com.hiltondublin.servlets.ModifyRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyRoomDetails</servlet-name>
    <url-pattern>/Admin/Modify-Room-details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyRoomAddRoom</servlet-name>
    <servlet-class>com.hiltondublin.servlets.AddRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyRoomAddRoom</servlet-name>
    <url-pattern>/Admin/Modify-Room-add-room</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyRoomDeleteRoom</servlet-name>
    <servlet-class>com.hiltondublin.servlets.ModifyRoomDeleteRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyRoomDeleteRoom</servlet-name>
    <url-pattern>/Admin/Modify-Room-delete-room</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyProduct</servlet-name>
    <jsp-file>/modifyProduct.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyProduct</servlet-name>
    <url-pattern>/Admin/Modify-Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyProductSelectOption</servlet-name>
    <servlet-class>com.hiltondublin.servlets.ModifyProductSelectOptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyProductSelectOption</servlet-name>
    <url-pattern>/Admin/Modify-Product-select-option</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyProductGetProducts</servlet-name>
    <servlet-class>com.hiltondublin.servlets.ModifyProductGetProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyProductGetProducts</servlet-name>
    <url-pattern>/Admin/Modify-Product-get-products</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyProductGetProduct</servlet-name>
    <servlet-class>com.hiltondublin.servlets.ModifyProductGetProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyProductGetProduct</servlet-name>
    <url-pattern>/Admin/Modify-Product-get-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyProductDetails</servlet-name>
    <servlet-class>com.hiltondublin.servlets.ModifyProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyProductDetails</servlet-name>
    <url-pattern>/Admin/Modify-Product-details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyProductAddRoom</servlet-name>
    <servlet-class>com.hiltondublin.servlets.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyProductAddRoom</servlet-name>
    <url-pattern>/Admin/Modify-Product-add-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyProductDeleteProduct</servlet-name>
    <servlet-class>com.hiltondublin.servlets.ModifyProductDeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyProductDeleteProduct</servlet-name>
    <url-pattern>/Admin/Modify-Product-delete-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerEmployee</servlet-name>
    <jsp-file>/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerEmployee</servlet-name>
    <url-pattern>/Admin/Register-Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerEmployeeCheck</servlet-name>
    <servlet-class>com.hiltondublin.servlets.RegisterEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerEmployeeCheck</servlet-name>
    <url-pattern>/Admin/Register-Employee-check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>employeeCancelReservation</servlet-name>
    <jsp-file>/onlinecancellation-employee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeCancelReservation</servlet-name>
    <url-pattern>/Employee/Cancel-Reservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cancelReservationGetReservations</servlet-name>
    <servlet-class>com.hiltondublin.servlets.GetReservationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelReservationGetReservations</servlet-name>
    <url-pattern>/Employee/Cancel-Reservation-get-reservations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cancelReservationServlet</servlet-name>
    <servlet-class>com.hiltondublin.servlets.CancelReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelReservationServlet</servlet-name>
    <url-pattern>/Employee/Cancel-Reservation-confirmed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkinReservation</servlet-name>
    <jsp-file>/checkin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkinReservation</servlet-name>
    <url-pattern>/Employee/Checkin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkinReservationConfirmed</servlet-name>
    <servlet-class>com.hiltondublin.servlets.CheckinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkinReservationConfirmed</servlet-name>
    <url-pattern>/Employee/Checkin-confirmed</url-pattern>
  </servlet-mapping>
</web-app>